<div class="row">
	<div class="form col-md-8 col-md-offset-2">
	
		<%= render 'common/errors', obj: @project %>
	
		<%= form_for @project do |f| %>
    
		<span>
					<%= f.label :name, class: "form-label" %>
      				<%= f.text_field :name, class: "form-field" %>
    		</span>
    		<span>
      				<%= f.label :description, class: "form-label" %>
     	 			<%= f.text_area :description, class: "form-field", rows: 10 %>
     		</span>
      
      		<%= f.submit(@project.new_record? ? 'Create Project' : 'Update Project', class: "btn btn-primary submit") %>
    	<% end %>
  	</div>
</div>